@model IEnumerable<PersonResponse> // From ServiceContracts
@{
 Layout = "~/Views/Shared/_Layout.cshtml";
 ViewBag.Title = "Persons";
}

<h1>Persons</h1>

<form action="~/persons/index" method="get">

<!-- Search -->
    <div class="box flex">
        <div class="flex-1">
            <select name="searchBy" class="form-input">
                @foreach (var field in ViewBag.SearchFields){
                    if(field.Key == ViewBag.CurrentSearchBy){
                        <option value="@field.Key" selected="selected">@field.Value</option>
                    }
                    else{
                        <option value="@field.Key">@field.Value</option>
                    }
                }
                @* Eg: searchBy=PersonName&searchString=abc. Read by the controller (PersonController.cs) using dependency injection *@

            </select>
        </div>

        <div class="flex-1">
            <span>
                <input type="text" name="searchString" id="Search" class="form-input" placeholder="Search" value="@ViewBag.CurrentSearchString" />
            </span>
        </div>

        <div class="flex-1">
            <span>
                <button class="button button-blue-black">Search</button>
                <a href="~/persons/index" class="link-hover">Clear all</a>
            </span>
        </div>

    </div>
<!-- //Search -->

<!-- Persons list -->
<table class="table w-100 mt">
 <thead>
  <tr>
    <th>
        <span>Name</span>
    </th>
    <th>
        <span>Email</span>
    </th>
    <th>
        <span>DoB</span>
    </th>
    <th>
        <span>Age</span>
    </th>
    <th>
        <span>Country</span>
    </th>
    <th>
        <span>Address</span>
    </th>
    <th>
        <span>Receive News Letter</span>
    </th>
  </tr>
 </thead>

 <tbody>
    @foreach (PersonResponse person in Model){
        <tr>
            <td><span>@person.PersonName</span></td>
            <td><span>@person.Email</span></td>
            <td><span>@person.DateOfBirth?.ToString("dd MMM yyyy")</span></td>
            <td><span>@person.Age</span></td>
            <td><span>@person.Country</span></td>
            <td><span>@person.Address</span></td>
            <td><span>@person.ReceiveNewsLetters</span></td>
        </tr>
    }
 </tbody>
</table>
<!-- //Persons list -->

</form>