@model IEnumerable<PersonResponse> // From ServiceContracts
@{
 Layout = "~/Views/Shared/_Layout.cshtml";
 ViewBag.Title = "Persons";
}

<h1>Persons</h1>

<p>
<a href="~/persons/create" class="link-hover">Create</a>
</p>

<form action="~/persons/index" method="get">

<!-- Search -->
    <div class="box flex">
        <div class="flex-1">
            <select name="searchBy" class="form-input">
                @foreach (var field in ViewBag.SearchFields){
                    if(field.Key == ViewBag.CurrentSearchBy){
                        <option value="@field.Key" selected="selected">@field.Value</option>
                    }
                    else{
                        <option value="@field.Key">@field.Value</option>
                    }
                }
                @* Eg: searchBy=PersonName&searchString=abc. Read by the controller (PersonController.cs) using dependency injection *@

            </select>
        </div>

        <div class="flex-1">
            <span>
                <input type="text" name="searchString" id="Search" class="form-input" placeholder="Search" value="@ViewBag.CurrentSearchString" />
            </span>
        </div>

        <div class="flex-1">
            <span>
                <button class="button button-blue-black">Search</button>
                <a href="~/persons/index" class="link-hover">Clear all</a>
            </span>
        </div>

    </div>
<!-- //Search -->

<!-- Persons list -->
<table class="table w-100 mt">
 <thead>
  <tr>
    <th>

        @if (ViewBag.CurrentSortBy == nameof(PersonResponse.PersonName) && ViewBag.CurrentSortOrder == SortOrderOptions.ASC.ToString()){
            <span><a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@nameof(SortOrderOptions.DESC)">Name ▼</a></span>
        }
        else if (ViewBag.CurrentSortBy == nameof(PersonResponse.PersonName) && ViewBag.CurrentSortOrder == SortOrderOptions.DESC.ToString()){
            <span><a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@nameof(SortOrderOptions.ASC)">Name ▲</a></span>
        }
        else{    
            <span><a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@nameof(SortOrderOptions.ASC)">Name</a></span>
        }
        
    </th>
    <th>
        @if (ViewBag.CurrentSortBy == nameof(PersonResponse.Email) && ViewBag.CurrentSortOrder == SortOrderOptions.ASC.ToString()){
            <span><a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.Email)&sortOrder=@nameof(SortOrderOptions.DESC)">Email ▼</a></span>
        }
        else if (ViewBag.CurrentSortBy == nameof(PersonResponse.Email) && ViewBag.CurrentSortOrder == SortOrderOptions.DESC.ToString()){
            <span><a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.Email)&sortOrder=@nameof(SortOrderOptions.ASC)">Email ▲</a></span>
        }
        else{    
            <span><a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.Email)&sortOrder=@nameof(SortOrderOptions.ASC)">Email</a></span>
        }
    </th>
    <th>
        <span>DoB</span>
    </th>
    <th>
        @if (ViewBag.CurrentSortBy == nameof(PersonResponse.Age) && ViewBag.CurrentSortOrder == SortOrderOptions.ASC.ToString()){
            <span><a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.Age)&sortOrder=@nameof(SortOrderOptions.DESC)">Age ▼</a></span>
        }
        else if (ViewBag.CurrentSortBy == nameof(PersonResponse.Age) && ViewBag.CurrentSortOrder == SortOrderOptions.DESC.ToString()){
            <span><a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.Age)&sortOrder=@nameof(SortOrderOptions.ASC)">Age ▲</a></span>
        }
        else{    
            <span><a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.Age)&sortOrder=@nameof(SortOrderOptions.ASC)">Age</a></span>
        }
    </th>
    <th>
        <span>Country</span>
    </th>
    <th>
        <span>Address</span>
    </th>
    <th>
        <span>Receive News Letter</span>
    </th>
  </tr>
 </thead>

 <tbody>
    @foreach (PersonResponse person in Model){
        <tr>
            <td><span>@person.PersonName</span></td>
            <td><span>@person.Email</span></td>
            <td><span>@person.DateOfBirth?.ToString("dd MMM yyyy")</span></td>
            <td><span>@person.Age</span></td>
            <td><span>@person.Country</span></td>
            <td><span>@person.Address</span></td>
            <td><span>@person.ReceiveNewsLetters</span></td>
        </tr>
    }
 </tbody>
</table>
<!-- //Persons list -->

</form>